body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;

  background: #2C2B3D;
}

.page {
  margin: 0px auto;
  padding-top: 71px;

  width: 1092px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 107px;
}

#logo {
  display: flex;
  line-height: 28px;
  font-size: 24px;
}

#logo img {
  margin: 0px;
  width: 13.14px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 64px;
  margin: 0;
  padding: 0;

  align-items: center;
  font-size: 14px;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin-bottom: 59px;

  line-height: 40px;
  font-size: 36px;
}

section h1, p {
  text-align: center;
}

section p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
}

footer {
  margin-top: 157px;

  text-align: center;
  line-height: 28px;
  font-size: 14px;

}

#line {
  border: 1px solid #00BFA6;
  height: 0;
  width: 568px;
  
  margin: 0px auto 27px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ffffffce
}

#cadeado {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

#logo, a, h1, footer {
  color: #FFF;
}

section p {
  color: #C2C2C2;
}

span {
  color: #00BFA6;
}